* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url("../images/River.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#sidebar {
    width: 20%;
    height: 100vh;
    background-color: white;
    transition-duration: 0.4s;
    transform: translate(-289px);

    .icons {
        position: relative;

        i {
            color: black;
            font-size: 30px;
            position: absolute;
            top: 10px;
            right: 15px;
            cursor: pointer;

            &:last-child {
                display: none;
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        height: 340px;
        align-items: center;
        justify-content: space-between;
        padding-top: 100px;
        
        a {
            text-decoration: none;
            display: block;
            padding: 10px 20px;
            letter-spacing: 2px;
            color: black;
            border: 1px solid limegreen;
            transition-duration: 0.4s;

            &:hover {
                background-color: limegreen;
            }
        }
    }
}